.col-sm{
	align-content: center;
}
.card{
	margin: 20px;
	margin-left: 30px;}
.btn-card-1{
	transition: all .5s;
}
.btn-card-1:hover{
	transform: scale(1,1);
}
.navbar-brand{
	font-size: 26px;
	font font-family: comic san ms;
}
